---

---

<div class="navbar bg-transparent rounded-none shadow-md">
    <div class="flex-1 px-2 lg:flex-none">
        <a class="text-lg font-bold" href="/">Make Life Better</a>
    </div>
    <div class="flex justify-end flex-1 px-2">
        <div class="flex items-stretch">
            <a class="btn btn-ghost rounded-btn" href="/demo">demo</a>
            <div class="dropdown dropdown-end">
                <div
                    tabindex="0"
                    role="button"
                    class="btn btn-ghost rounded-btn"
                >
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        class="w-6 h-6"
                    >
                        <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M9.568 3H5.25A2.25 2.25 0 003 5.25v4.318c0 .597.237 1.17.659 1.591l9.581 9.581c.699.699 1.78.872 2.607.33a18.095 18.095 0 005.223-5.223c.542-.827.369-1.908-.33-2.607L11.16 3.66A2.25 2.25 0 009.568 3z"
                        ></path>
                        <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M6 6h.008v.008H6V6z"></path>
                    </svg>
                </div>
                <ul
                    tabindex="5"
                    class="menu outline outline-offset outline-neutral dropdown-content z-[1] p-2 bg-base-100 rounded-none w-30 mt-4 shadow-md"
                >
                    <li><a>izakaya</a></li>
                    <li><a>cooking</a></li>
                    <li><a>exercise</a></li>
                    <li><a>subculture</a></li>
                    <li><a>etc</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
